@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Ubuntu-C";
  src: url('./fonts/Ubuntu-C.ttf');
  font-weight: normal;
  font-style: normal;
}


html {
	width: 100%;
	height: 100%;
  vertical-align: baseline; 
  
  font-size: 100%; 
  outline: 0; 
  margin: 0 auto; 
}

body {
	width: 100%;
	height: 100%;
  vertical-align: baseline; 
 

  
  font-size: 100%; 
  outline: 0; 
  margin: 0 auto; 
}

#header {
  width: 100%;
  overflow: hidden;
}

#content {
  margin-top: 5%;
  width: 100%;
  overflow: hidden;
}

#footer {
  width: 100%;
  height: 15%;
}


/* -------------------------------------------------------------------------------------------------------*/

#menu-main {
  width: 100%;
  overflow: hidden;
  background-color: #f4f5f6;
  border-bottom: 1px solid #cccccc;
}

.menu-about {
  margin: 0 auto;
  padding: 0% 0% 1% 0%;
  height: 20%;
  width: 75%;
}
.menu-about p{
  float: left;
  font-family: 'Furore';
  font-size: 16px;
  font-weight: normal;
  font-color:#f4f5f6;
}

.menu-language {
  float: right;
  margin-right: 5%;
  padding: 1% 0% 0% 0%;
  height: 15%;
  width: 10%;

}

.menu-language img {
  height: 45%;
  width: 54%;
}

.choose-language {
  margin-left:-10px;
  width: 100%;
  height: 100%;
}

.menu-menu {
  clear: both;
  padding: 0% 0% 0% 0%;
  width: 75%;
  height: 20%;
  margin: 0 auto;
}

.menu-menu-a {
  float: left;
  height: 100%;
  width: 6%;
  padding: 1% 1% 1% 1%;
  margin: 0% 0% 0% 0%;
  font-size: 14px;
  color:#908c8c;
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}

.menu-menu-a:hover {
 border-bottom: none;
 background-color: #47a6e7;
 color:#dbe1e5;
}

/* -------------------------------------------------------------------------------------------------------*/


#content-main {
  clear: both;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 auto;
}

#content-about {
  width: 75%;
  height: 350px;
   margin: 0 auto;
}

.about-me1 {
float: left;
width: 60%;
height: 100%;

}



.about-me1 h2 {
  font-family: 'Ubuntu-C';
  font-size: 26px;
  font-style: normal; 
  line-height: 22px;
  font-weight: bold;
  color: #191919;
}
.about-me1 h4 {
  font-family: 'Ubuntu-C';
  font-size: 16px;
  font-style: normal; 
  line-height: 28px;
  font-weight: bold;
  color: #191919;
}

.about-me1 a {
  font-family: 'Ubuntu-C';
  display: block;
  height: 12%;
  width: 32%;
  border: 1px solid #40a1e3;
  border-radius: 3px;
  background-color: #40a1e3;
  color:#fff;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  padding: 3% 1% 1% 1%;
}

.about-me1 a:hover {
  color:#369add;
  background-color: #fff;
}

.about-me2 {
 
  float: left;
width: 40%;
height: 100%;
}
.about-me2 img {
  width: 50%;
  height: 90%;
  margin-left: 45%;
  padding: 1% 1% 1% 1%;
  border: 1px solid #cccccc;
  border-radius: 20px;
}


#content-ability{
  clear: both;
  background-color: #f4f5f6;
  height: 350px;
  width: 100%;
  margin: 0 auto;
  padding-left: 22%;
}


.ability-1 {
  font-family: 'Ubuntu-C';
  height: 70%;
  width: 100%;
  padding:1% 5% 0% 5%;
}

.ability-1 h2 {
  padding-left: 17%;
}

.ability-11 {
  font-family: 'Ubuntu-C';
  text-align: center;
  float: left;
  height: 30%;
  width: 20%;
  color:#ec3410;
   font-size: 40px;
  border: 4px solid #ec3410;
  border-radius: 4px;
  padding: 2% 0% 0% 0%;
}

.ability-12 {
  text-align: center;
  margin-left: 2%;
  float: left;
  height: 30%;
  width: 20%;
  color:#15d010;
  font-size: 40px;
  border: 4px solid #15d010;
  border-radius: 4px;
  padding: 2% 0% 0% 0%;
}

.ability-2 {
  height: 30%;
  width: 100%;
  margin-left: -5%;
}

.ability-21 {
  text-align: center;
  margin-left: 2%;
  float: left;
  height: 20%;
  width: 10%;
  color:#798379;
  font-size: 20px;
  border: 2px solid #798379;
  border-radius: 3px;
  padding: 1% 0% 1% 0%;
}
.ability-22 {
  text-align: center;
  margin-left: 2%;
  float: left;
  height: 20%;
  width: 10%;
  color:#798379;
  font-size: 20px;
  border: 2px solid #798379;
  border-radius: 3px;
  padding: 1% 0% 1% 0%;
}
.ability-23 {
  text-align: center;
  margin-left: 2%;
  float: left;
  height: 20%;
  width: 10%;
  color:#798379;
  font-size: 20px;
  border: 2px solid #798379;
  border-radius: 3px;
  padding: 1% 0% 1% 0%;
}
.ability-24 {
  text-align: center;
  margin-left: 2%;
  float: left;
  height: 20%;
  width: 10%;
  color:#798379;
  font-size: 20px;
  border: 2px solid #798379;
  border-radius: 3px;
  padding: 1% 0% 1% 0%;
}
.ability-25 {
  text-align: center;
  margin-left: 2%;
  float: left;
  height: 20%;
  width: 10%;
  color:#798379;
  font-size: 20px;
  border: 2px solid #798379;
  border-radius: 3px;
  padding: 1% 0% 1% 0%;
}


#content-works{
  font-family: 'Ubuntu-C';
  clear: both;
  background-color: #fff;
  height: 1750px;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 5%;
}

#content-works h2{
  padding-left: 44%;
}

.works-1 {
  width: 100%;
  height: 26%;
  font-size: 16px;
  font-style: Helvetica;
  line-height: 28px;
  font-weight: bold;
  color: #858786;
}

.works-1-img  {
  float: left;
  height: 100%;
  width: 52%;
}
.works-1-img img{
  height: 46%;
  width: 90%;
  margin-left:10%;
  border: 1px solid #f4f5f6;
  border-radius: 10px;
}

.works-1 a{
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: #369add;
}

.works-1 a:hover {
  color:#cccccc;
 }

.works-2 {
  clear: both;
  width: 100%;
  height: 26%;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  color: #858786;
}

.works-2-img  {
  float: left;
  height: 100%;
  width: 52%;
}
.works-2-img img{
  height: 48%;
  width: 90%;
  border: 1px solid #f4f5f6;
  border-radius: 10px;
}

.works-2 a{
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: #369add;
}
.works-2 a:hover {
  color:#cccccc;
 }

.works-3 {
  clear: both;
  width: 100%;
  height: 26%;
  margin-bottom: 5%;
  font-size: 16px;
  font-style: Helvetica;
  line-height: 22px;
  font-weight: bold;
  color: #858786;
}

.works-3-img  {
  float: left;
  height: 100%;
  width: 50%;
}
.works-3-img img{
  height: 46%;
  width: 90%;
  margin-left:10%;
  border: 1px solid #f4f5f6;
  border-radius: 10px;
}

.works-3 a{
 font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: #369add;
}
.works-3 a:hover {
  color:#cccccc;
 }

#content-hobby {
  font-family: 'Ubuntu-C';
  clear: both;
  background-color: #f4f5f6;
  height: 400px;
  width: 100%;
   margin: 0 auto;
  padding-left: 12%;
}
#content-hobby hr {
  margin-left:33%;
}
#content-hobby h2 {
  margin-left:31%;
}
/* -------------------------------------------------------------------------------------------------------*/

#footer-main {
  clear: both;
  width: 100%;
  height: 100px;
  background-color: #191919;
  margin:0 auto;
}
.footer-1 {
  float: left;
  height: 60%;
  width: 15%;
  padding: 1% 5% 1% 12%;
  font-size: 12px;
  color: #fff;
  font-style: Helvetica;
}
.footer-1 img {
  height: 100%;
  width: 70%;
}
.footer-2 {
  float: left;
  height: 40%;
  width: 30%;
  padding: 3% 0% 0% 1%; 
}
.footer-2 a {
  float: left;
  color: #fff;
  font-size: 16px;
  font-style: Helvetica;
  padding: 0% 5% 0% 5%; 
}
.footer-3 {
  float: left;
  height: 40%;
  width: 20%;
  padding: 2% 0% 0% 5%; 
  margin: 0 auto;
}
.footer-3 img {
  float: left;
  height: 100%;
  width: 23%;
}
/* -------------------------------------------------------------------------------------------------------*/